<h2>Add a New Kitty</h1>
<form action='/cats/new' method="POST" class="addForm">
    <label for="name">Enter Name: </label>
    <input type="text" name="name"/><br><br>

    <label for="imgUrl">Add a picture: </label>
    <input type="url" name="imgUrl"/><br><br>

    <label for="age">Enter age: </label>
    <input type="text" name="age"/><br><br>

    <label>Gender?</label><br>
    <input type="radio" name="gender" id="male" value="male">
    <label for="male">Male</label><br>
    <input type="radio" name="gender" id="female" value="female">
    <label for="female">Female</label><br><br>

    <label for="breed">Primary breed: </label>
    <input type="text" name="breed"/><br><br>

    <label for="description">Enter short description: </label>
    <input type="text" name="description"/><br><br>

    <button type="submit" class="editButton">Add Kitty</button>
</form>
<form action="/cats" method="GET" class="backForm">
    <button type="submit" class="backButton">Back</button>
</form>