<h2>Are you lost?</h2>
<hr size="5" width="30%" color="#EDE7B1">
<br>
<p class="errorMessage">{{message}}</p><br><br>
<img src="https://media.istockphoto.com/photos/symbol-question-silhouette-of-cat-black-background-picture-id667375402?k=6&m=667375402&s=612x612&w=0&h=ZAlKqc8-PpGwol7ovTZbtqQIosn4Nbbqj_pf8hF9Kh0=" alt="cat with questionmark">